

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>编辑内容 - 后台</title>			
		

		<!-- Favicon and touch icons -->
		<link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon" />

	    <!-- Css files -->
	    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">		
		<link href="/assets/css/jquery.mmenu.css" rel="stylesheet">	
		<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
		<link href="/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet">
	    <link href="/assets/css/style.min.css" rel="stylesheet">
		<link href="/assets/css/add-ons.min.css" rel="stylesheet">		

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
</head>

<body>
	
	<div class="container-fluid content">
	
		<div class="row">
			<%- include menu.html %>
			
		<!-- start: Content -->
		<div class="main ">
		
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-indent"></i>编辑内容</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="/">Home</a></li>
						<li><i class="fa fa-list-alt"></i><a href="/company">内容列表</a></li>
						<li><i class="fa fa-indent"></i>编辑内容</li>				
					</ol>
				</div>
			</div>
			

			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-plus-square-o red"></i><strong>图片</strong></h2>
							<div class="panel-actions">
							</div>
						</div>
						<div class="panel-body">
								  
							<div class="form-group">
								<label class="control-label">上传文件，文件类型必须为 jpg/png 格式</label>
								<div class="controls">
								  	<div id="dropzone">
										<form action="/upload" id="imgurl" class="dropzone">
											<div class="fallback">
												<input name="upload" type="file" multiple="" />
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div><!--/col-->


				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-plus-square-o red"></i><strong>Banner 图片</strong></h2>
							<div class="panel-actions">
							</div>
						</div>
						<div class="panel-body">
								  
							<div class="form-group">
								<label class="control-label">上传文件，文件类型必须为 jpg/png 格式</label>
								<div class="controls">
								  	<div id="dropzone">
										<form action="/upload" id="banner" class="dropzone">
											<div class="fallback">
												<input name="upload" type="file" multiple="" />
											</div>
										</form>
									</div>
								</div>
							</div>				

						</div>
					</div>
				</div><!--/col-->

			</div><!--/row-->

			<div class="row">

				<%
            		var zh_article={};
            		if(company.article) {
            			zh_article = company.article.find(article => article.language == "zh");
            		}
            	%>

			    <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>中文版本</strong></h2>
			            </div>
						<div class="panel-body">
				                
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">标题</label>
				                    <div class="col-md-9">
				                        <input type="text" id="zh_title" name="text-input" class="form-control" placeholder="文章标题" value="<%=zh_article.title%>">
				                        <span class="help-block">标题尽量不要多于20字</span>
				                    </div>
				                </div>

				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">描述</label>
				                    <div class="col-md-9">
										
										<textarea id="zh_subtext" name="zh_subtext" rows="9" class="form-control" placeholder="描述.."><%=zh_article.subtext%></textarea>
										<span class="help-block"></span>
				                    </div>
				                </div>

								<div class="form-group">
				                    <label class="col-md-3 control-label" for="textarea-input">文章内容</label>
				                    <div class="col-md-9">
				                        <textarea id="zh_content" name="textarea-input" rows="9" class="form-control textarea" style="height: 400px" placeholder="在这里输入文章内容" ><%=zh_article.context%></textarea>
				                    </div>
				                </div>
								<br>
						</div>
						<div class="panel-footer">
		                    <button type="button" id="submit" data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>提交</button>
		                </div>	
			        </div>	
			    </div>


					<%
                		var en_article = {};
                		if(company.article) {
                			en_article = company.article.find(article => article.language == "en");
                		}
                	%>
			     <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>英文版本</strong></h2>
			            </div>
						<div class="panel-body">
				                
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">标题</label>
				                    <div class="col-md-9">
				                        <input type="text" id="en_title" name="text-input" class="form-control" placeholder="文章标题" value="<%=en_article.title%>">
				                        <span class="help-block">文章标题</span>
				                    </div>
				                </div>

				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">描述</label>
				                    <div class="col-md-9">
										
										<textarea id="en_subtext" name="en_subtext" rows="9" class="form-control" placeholder="描述.."><%=en_article.subtext%></textarea>
										<span class="help-block"></span>
				                    </div>
				                </div>

								<div class="form-group">
				                    <label class="col-md-3 control-label" for="textarea-input">文章内容</label>
				                    <div class="col-md-9">
				                        <textarea id="en_content" name="textarea-input" rows="9" style="height: 400px" class="form-control textarea" placeholder="请输入文章内容"><%=en_article.context%></textarea>
				                    </div>
				                </div>
								<br>
						</div>
			        </div>	
			    </div>
			</div><!--/.row-->
			
			
			
				
    
		</div>
		<!-- end: Content -->
		
	</div><!--/container-->
		
	<%- include modal.html %>
	
	<div class="clearfix"></div>
	
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="/assets/js/jquery-2.1.1.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="/assets/js/jquery-1.11.1.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>	
	
	
	<!-- page scripts -->
	<script src="/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
	<script src="/assets/plugins/chosen/js/chosen.jquery.min.js"></script>
	<script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
	<script src="/assets/plugins/placeholder/jquery.placeholder.min.js"></script>
	<script src="/assets/plugins/dropzone/js/dropzone.min.js"></script>
	<script src="http://cdn.bootcss.com/tinymce/4.4.3/tinymce.min.js"></script>
	<script src="/assets/plugins/moment/moment.min.js"></script>

	<!-- theme scripts -->
	<script src="/assets/js/SmoothScroll.js"></script>
	<script src="/assets/js/jquery.mmenu.min.js"></script>

	<script>
		tinymce.init({ selector:'.textarea' });
		var imgurl = [], banner, pid;
		<%if (pid) {%>
			pid = <%=pid%>
		<%}%>

		$("#imgurl.dropzone").dropzone({
			success: function(status, data) {
				console.log('status', status)
				console.log('data',data)
			    imgurl.push(data.msg);
			}
		});
		$("#banner.dropzone").dropzone({
			success: function(status, data) {
				banner = data.msg;
			}
		});
		function submit(){
			var msg        = $("#modal_msg");
			var zh_title   = $("#zh_title").val();
			var zh_subtext = $("#zh_subtext").val();
			var zh_content = tinyMCE.editors[0].getContent();
			var en_title   = $("#en_title").val();
			var en_subtext = $("#en_subtext").val();
			var en_content = tinyMCE.editors[1].getContent();

			var data = {
				"imgurl"     : imgurl,
				"banner"     : banner,
				"zh_title"   : zh_title,
				"zh_subtext" : zh_subtext,
				"zh_content" : zh_content,
				"en_title"   : en_title,
				"en_subtext" : en_subtext,
				"en_content" : en_content
			};
			console.log(data)
			var type = 'post';
			<%if(company._id) {%>
				type = 'put'
				data._id = '<%=company._id%>';
			<%}%>
			$.ajax({
				url    : '/company/article?pid=<%=pid%>',
				type   : type,
				data   : data,
				success: function(data, status) {
					if(status == 'success') {
						if(data.status == 1) {
							msg.text(data.msg);
						} else {
							msg.text(data.msg);
						}
					} else {
						msg.text('请求失败');
					}
				},
				error: function(data, err){
					msg.text('请求出错');
					console.log(data);
				}
			});
		}

		$(function(){

			$("#submit").click(submit);
		});
	</script>

	<!-- end: JavaScript-->
	
</body>
</html>