

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>新闻管理 - 后台</title>			
		

		<!-- Favicon and touch icons -->
		<link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon" />

	    <!-- Css files -->
	    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">		
		<link href="/assets/css/jquery.mmenu.css" rel="stylesheet">		
		<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
		<link href="/assets/plugins/chosen/css/chosen.css" rel="stylesheet">
	    <link href="/assets/css/style.min.css" rel="stylesheet">
		<link href="/assets/css/add-ons.min.css" rel="stylesheet">
		<script src="/assets/plugins/moment/moment.min.js"></script>

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
</head>

<body>
	
	<div class="container-fluid content">
	
		<div class="row">
			<%- include menu.html %>
			
		<!-- start: Content -->
		<div class="main ">
		
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-indent"></i>编辑新闻</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="/">Home</a></li>
						<li><i class="fa fa-list-alt"></i><a href="#">新闻</a></li>
					</ol>
				</div>
			</div>
			

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-th red"></i><strong>操作</strong></h2>
				</div>
				<div class="panel-body">
					<a href="/news/article" class="btn btn-primary"><i class="fa fa-plus"></i> 添加新闻</a>
				</div>
			</div>


			<div class="row">	
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>新闻列表</strong></h2>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-striped table-condensed table-hover">
								  <thead>
									  <tr>
										 <th width="400">标题</th>
										 <th>编辑时间</th>
										 <th>显示状态</th>
										 <th>置顶</th>
										 <th width="200">编辑</th>
									  </tr>
								  </thead>   
								  <tbody>
								  	<%news.forEach(item => {
								  		var doc = item.article.find(doc => doc.language=="zh");
								  	%>
										<tr>
											<td><%=doc.title %></td>
	                                        <td>
	                                        <script type="text/javascript">
	                                        	document.write(moment('<%=item.createTime%>').format('YYYY年MM月DD日 HH:mm:ss'));
	                                        </script>
	                                        </td>
	                                        <td>
                                        		<span class="label label-<%=item.is_show?'success':'warning'%>"><%=item.is_show?'显示':'隐藏'%></span>
	                                        </td>
											<td>
												<span class="label label-<%=item.top?'success':'default'%>"><%=item.top?'置顶':'未置顶'%></span>
											</td>
											<td>
												<a href="/news/article?_id=<%=item._id%>" class="btn btn-link"><i class="fa fa-edit"></i> 编辑</a>
												<button type="button" onclick="deleteNews(this, '<%=item._id%>')" class="btn btn-link"><i class="fa fa-trash-o"></i> 删除</button>
											</td>
										</tr>
								  	<%})%>
								  </tbody>
							 </table>   
						</div>
					</div>
				</div><!--/col-->
			</div><!--/row-->

		</div>
		<!-- end: Content -->
		
	</div><!--/container-->
		
	<%- include modal.html %>
	
	<div class="clearfix"></div>
	
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="/assets/js/jquery-2.1.1.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="/assets/js/jquery-1.11.1.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>	
	
	
	<!-- page scripts -->
	<script src="/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
	<script src="/assets/plugins/chosen/js/chosen.jquery.min.js"></script>
	<script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
	<script src="/assets/plugins/placeholder/jquery.placeholder.min.js"></script>
	<script src="/assets/plugins/maskedinput/jquery.maskedinput.min.js"></script>
	<script src="assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
	

	<!-- theme scripts -->
	<script src="/assets/js/SmoothScroll.js"></script>
	<script src="/assets/js/jquery.mmenu.min.js"></script>
	<!-- end: JavaScript-->

	<script type="text/javascript">
		var table;
		 $(function () {

            table = $('.table').DataTable({
                "lengthMenu": [
                    [15, 6, 8, -1],
                    [4, 6, 8, "All"]
                ],//每页显示条数设置
                "lengthChange": false,//是否允许用户自定义显示数量
                "bPaginate": true, //翻页功能
                "bFilter": false, //列筛序功能
                "searching": true,//本地搜索
                "ordering": true, //排序功能
                "Info": true,//页脚信息
                "autoWidth": true,//自动宽度
                "oLanguage": {//国际语言转化
                    "oAria": {
                        "sSortAscending": " - click/return to sort ascending",
                        "sSortDescending": " - click/return to sort descending"
                    },
                    "sLengthMenu": "显示 _MENU_ 记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sEmptyTable": "未有相关数据",
                    "sLoadingRecords": "正在加载数据-请等待...",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
                    "sInfoEmpty": "当前显示0到0条，共0条记录",
                    "sInfoFiltered": "（数据库中共为 _MAX_ 条记录）",
                    "sProcessing": "<img src='../resources/user_share/row_details/select2-spinner.gif'/> 正在加载数据...",
                    "sSearch": "查询：",
                    "sUrl": "",
                    //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "尾页"
                    }
                }

            });

            //自定义搜索
            $('.dsearch').on('keyup click', function () {
                var tsval = $(".dsearch").val()
                table.search(tsval, false, false).draw();
            });
        })

		function deleteNews(obj, _id) {
			$.ajax({
				url  : '/news/article?_id='+_id,
				type : 'delete',
			    success: function(result) {
					if(result.status == 1) {
                        $(obj).parents("tr").remove();
					} else {
						alert(result.msg);
					}
			    }
			});
		}

	</script>
	
</body>
</html>